@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
*{
    padding:0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.fondo{
    min-height: 750px;
    background: url(../aseets/hero-min.jpg) center center;
    background-size: cover;
    position: relative;
}
nav .nav-wrapper{
    height: auto;
}
nav div{
    position: fixed;
    width: 86.5%;
    z-index: 999;
    border-bottom: solid 0.1px gray;
    display: block;

}
.logo{
    display: inline-block;
    padding: 30px 0;
    width:99px;
    margin: 22px 0 0 0px;
}
.col{
padding: 0 !important;
}
nav div ul li a {
    font-size:13px; 
    padding: 30px 0;
    list-style: none;
    text-align: left;
   
}
.segu1{
    width: 180px;
}
.segu {
    width: 60px;
    margin-right: 15px;
    
}
.segu3{
    width: 60px;
    margin-left: -20px;  
}
.segu4{
    margin-right: 20px;
}
nav div ul li:hover a{
    color:rgb(245, 102, 102);
    background-color: transparent !important;
}

.segu5{
    width: 130px;  
    margin-right: 0px;
    padding: 40px 0;
    height: 10px;
    line-height: 0px;
}    

.segu5 a{
   
    text-align: center;
    width: 100%;
    height: 20px;
    border: solid 2px white;
    border-radius: 40px;
    padding: 20px 0;
    }
 .segu5 a:hover{
    border: solid 2px rgb(245, 102, 102);
 }   

  

nav section h1{
    margin: auto;
    margin-top:85px;
    font-size: 60px;
    margin-bottom:40px; 
}
nav section{
    z-index: 1;
    text-align: center;
    padding: 40px 0;
    
} 
nav section h2{
    font-weight: lighter;
    font-size: 20px;
    margin-bottom: 100px;
    /* padding: 20px 0; */
}
.btn1,.btn2{
   padding: 15px 40px;
   margin-right:20px;
   font-size: 14px;
  
}
.btn1{
    background-color: rgb(255, 80, 138);
    border: 2px solid transparent; 
    border-radius: 40px;
}
.btn2{
    border: 2px solid rgb(255, 80, 138); 
    border-radius: 40px;
    color:rgb(255, 80, 138);

}
.btn1:hover{
   background-color: rgb(224, 6, 115);
}
.btn2:hover{
    background-color: rgb(224, 6, 115);
    border: 2px solid transparent; 
    border-radius: 40px;
    color: white;
}


.otra{
    height: 300px;
}